# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pytest_cache

# C extensions
*.so

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm
.idea/

# VSCode
.vscode/

# Logs
*.log
*.out

# Misc
.DS_Store
*.sqlite3
